source/SampleCode_DeskTop/WSDLs/CWSCustomerManagement/CWSCustomerManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:i1="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://cms.service.evosnap.com/"
	xmlns:i2="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:i0="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement"
	xmlns:i3="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" name="CMS"
	targetNamespace="http://cms.service.evosnap.com/">
	<wsdl:import
		location="schemas.evosnap.com.CWS.v2.0.DataServices.CMS.CustomerManagement.wsdl"
		namespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement" />
	<wsdl:import
		location="schemas.evosnap.com.CWS.v2.0.DataServices.CMS.Promotions.wsdl"
		namespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions" />
	<wsdl:import
		location="schemas.evosnap.com.CWS.v2.0.DataServices.CMS.Subscriptions.wsdl"
		namespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions" />
	<wsdl:import
		location="schemas.evosnap.com.CWS.v2.0.DataServices.CMS.Invoices.wsdl"
		namespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices" />
	<wsdl:types />
	<wsdl:binding name="BasicHttpBinding_ICustomerManagement"
		type="i0:ICustomerManagement">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ping">
			<soap:operation
				soapAction="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/Ping"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateCustomerProfile">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/CreateCustomerProfile"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSCustomerAlreadyExistsFaultFault">
				<soap:fault name="CMSCustomerAlreadyExistsFaultFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateCustomerProfile">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/UpdateCustomerProfile"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteCustomerProfile">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/DeleteCustomerProfile"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomersDetail">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/QueryCustomersDetail"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomersSummary">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/QueryCustomersSummary"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomerTransactions">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/QueryCustomerTransactions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Encode2DBarcode">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/Encode2DBarcode"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Decode2DBarcode">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/CustomerManagement/ICustomerManagement/Decode2DBarcode"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BasicHttpBinding_ICustomerPromotions"
		type="i1:ICustomerPromotions">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PublishPromotion">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/PublishPromotion"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryPromotions">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/QueryPromotions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateCampaign">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/CreateCampaign"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SendCampaign">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/SendCampaign"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCampaigns">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/QueryCampaigns"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomerSavings">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/QueryCustomerSavings"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateRewardsProgram">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/CreateRewardsProgram"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryRewardsProgram">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/QueryRewardsProgram"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SaveDistributionList">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/SaveDistributionList"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryDistributionList">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/QueryDistributionList"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteDistributionList">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Promotions/ICustomerPromotions/DeleteDistributionList"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BasicHttpBinding_ICustomerSubscriptions"
		type="i2:ICustomerSubscriptions">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateSubscription">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/CreateSubscription"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateSubscription">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/UpdateSubscription"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateSubscriptionState">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/UpdateSubscriptionState"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteSubscription">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/DeleteSubscription"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="InvoiceSubscription">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/InvoiceSubscription"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QuerySubscriptions">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/QuerySubscriptions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSubscription">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Subscriptions/ICustomerSubscriptions/GetSubscription"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BasicHttpBinding_ICustomerInvoices"
		type="i3:ICustomerInvoices">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateInvoice">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/CreateInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateInvoice">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/UpdateInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateInvoiceState">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/UpdateInvoiceState"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteInvoice">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/DeleteInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ProcessInvoice">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/ProcessInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CWSValidationResultFaultFault">
				<soap:fault name="CWSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryInvoices">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/QueryInvoices"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetInvoice">
			<soap:operation
				soapAction="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Invoices/ICustomerInvoices/GetInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ExpiredTokenFaultFault">
				<soap:fault name="ExpiredTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTokenFaultFault">
				<soap:fault name="InvalidTokenFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnavailableFaultFault">
				<soap:fault name="CMSUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSTransactionFailedFaultFault">
				<soap:fault name="CMSTransactionFailedFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSValidationResultFaultFault">
				<soap:fault name="CMSValidationResultFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="CMSUnknownServiceKeyFaultFault">
				<soap:fault name="CMSUnknownServiceKeyFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DataServicesUnavailableFaultFault">
				<soap:fault name="DataServicesUnavailableFaultFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AuthenticationFaultFault">
				<soap:fault name="AuthenticationFaultFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CMS">
		<wsdl:port name="BasicHttpBinding_ICustomerManagement"
			binding="tns:BasicHttpBinding_ICustomerManagement">
			<soap:address location="https://api.cipcert.goevo.com/2.1.28/DataServices/CMS.svc/Customers" />
		</wsdl:port>
		<wsdl:port name="BasicHttpBinding_ICustomerPromotions"
			binding="tns:BasicHttpBinding_ICustomerPromotions">
			<soap:address location="https://api.cipcert.goevo.com/2.1.28/DataServices/CMS.svc/Promotions" />
		</wsdl:port>
		<wsdl:port name="BasicHttpBinding_ICustomerSubscriptions"
			binding="tns:BasicHttpBinding_ICustomerSubscriptions">
			<soap:address location="https://api.cipcert.goevo.com/2.1.28/DataServices/CMS.svc/Subscriptions" />
		</wsdl:port>
		<wsdl:port name="BasicHttpBinding_ICustomerInvoices"
			binding="tns:BasicHttpBinding_ICustomerInvoices">
			<soap:address location="https://api.cipcert.goevo.com/2.1.28/DataServices/CMS.svc/Invoices" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>