source/SampleCode_DeskTop/WSDLs/CWSCustomerManagement/schemas.evosnap.com.CWS.v2.0.DataServices.CMS.Wallet.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Wallet" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/DataServices/CMS/Wallet"><xs:simpleType name="TypePaymentType"><xs:restriction base="xs:string"><xs:enumeration value="NotSet"/><xs:enumeration value="Credit"/><xs:enumeration value="ElectronicChecking"/></xs:restriction></xs:simpleType><xs:element name="TypePaymentType" nillable="true" type="tns:TypePaymentType"/><xs:simpleType name="TypeCardType"><xs:restriction base="xs:string"><xs:enumeration value="NotSet"/><xs:enumeration value="PrivateLabel"/><xs:enumeration value="Visa"/><xs:enumeration value="MasterCard"/><xs:enumeration value="AmericanExpress"/><xs:enumeration value="DinersCartBlanche"/><xs:enumeration value="Discover"/><xs:enumeration value="JCB"/><xs:enumeration value="CitibankFinancial"/><xs:enumeration value="RevolutionCard"/><xs:enumeration value="UnbrandedATM"/><xs:enumeration value="Dankort"/><xs:enumeration value="Solo"/><xs:enumeration value="Maestro"/><xs:enumeration value="LaserCard"/><xs:enumeration value="Electron"/><xs:enumeration value="Finax"/><xs:enumeration value="Kopkort"/><xs:enumeration value="CarteAurore"/><xs:enumeration value="CartesBancaires"/><xs:enumeration value="DinersClub"/></xs:restriction></xs:simpleType><xs:element name="TypeCardType" nillable="true" type="tns:TypeCardType"/><xs:simpleType name="TypeBankAccountType"><xs:restriction base="xs:string"><xs:enumeration value="NotSet"/><xs:enumeration value="CheckingAccount"/><xs:enumeration value="SavingsAccount"/></xs:restriction></xs:simpleType><xs:element name="TypeBankAccountType" nillable="true" type="tns:TypeBankAccountType"/></xs:schema>