source/SampleCode_DeskTop/Service References/CWSServiceInformation/SIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sis.service.evosnap.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SIS" targetNamespace="http://sis.service.evosnap.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation" location="schemas.evosnap.com.CWS.v2.0.ServiceInformation.wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICWSServiceInformation" type="i0:ICWSServiceInformation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://schemas.evosnap.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOnWithToken">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SignOnWithToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetServiceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveApplicationData">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SaveApplicationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationData">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetApplicationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicationData">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/DeleteApplicationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsMerchantProfileInitialized">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/IsMerchantProfileInitialized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantProfiles">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetMerchantProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantProfileIds">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetMerchantProfileIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantProfilesByProfileId">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetMerchantProfilesByProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMerchantProfile">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetMerchantProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMerchantProfile">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/DeleteMerchantProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveMerchantProfiles">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SaveMerchantProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignOnWithUsernamePassword">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SignOnWithUsernamePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OneTimePasswordFaultFault">
        <soap:fault use="literal" name="OneTimePasswordFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BadAttemptThresholdExceededFaultFault">
        <soap:fault use="literal" name="BadAttemptThresholdExceededFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LockedByAdminFaultFault">
        <soap:fault use="literal" name="LockedByAdminFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PasswordExpiredFaultFault">
        <soap:fault use="literal" name="PasswordExpiredFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PasswordInvalidFaultFault">
        <soap:fault use="literal" name="PasswordInvalidFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SendEmailFaultFault">
        <soap:fault use="literal" name="SendEmailFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/ChangeUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SendEmailFaultFault">
        <soap:fault use="literal" name="SendEmailFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEmailFaultFault">
        <soap:fault use="literal" name="InvalidEmailFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SendEmailFaultFault">
        <soap:fault use="literal" name="SendEmailFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordExpiration">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetPasswordExpiration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSecurityQuestions">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetAvailableSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestions">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSecurityQuestions">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SaveSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordReset">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/RequestPasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityQuestionNotFoundFaultFault">
        <soap:fault use="literal" name="SecurityQuestionNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullFaultFault">
        <soap:fault use="literal" name="ArgumentNullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityQuestionNotFoundFaultFault">
        <soap:fault use="literal" name="SecurityQuestionNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UserNotFoundFaultFault">
        <soap:fault use="literal" name="UserNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateMerchantProfile">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/ValidateMerchantProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllClaims">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetAllClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClaims">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="STSUnavailableFaultFault">
        <soap:fault use="literal" name="STSUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignOnAndAddClaims">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SignOnAndAddClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DelegatedSignOn">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/DelegatedSignOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestUsername">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/RequestUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsername">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFaultFault">
        <soap:fault use="literal" name="SystemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveEmailTemplate">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SaveEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmailTemplate">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmailTemplate">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/DeleteEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveLogo">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/SaveLogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLogo">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/GetLogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogo">
      <soap:operation soapAction="http://schemas.evosnap.com/CWS/v2.0/ServiceInformation/ICWSServiceInformation/DeleteLogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CWSServiceInformationUnavailableFaultFault">
        <soap:fault use="literal" name="CWSServiceInformationUnavailableFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSValidationResultFaultFault">
        <soap:fault use="literal" name="CWSValidationResultFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CWSFaultFault">
        <soap:fault use="literal" name="CWSFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExpiredTokenFaultFault">
        <soap:fault use="literal" name="ExpiredTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidTokenFaultFault">
        <soap:fault use="literal" name="InvalidTokenFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFaultFault">
        <soap:fault use="literal" name="AuthenticationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SIS">
    <wsdl:port name="BasicHttpBinding_ICWSServiceInformation" binding="tns:BasicHttpBinding_ICWSServiceInformation">
      <soap:address location="https://api.cipcert.goevo.com/2.1.28/SIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>