source/SampleCode_DeskTop/WSDLs/CWSTransactionManagement/schemas.evosnap.com.CWS.v2.0.Transactions.Bankcard.Pro.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard/Pro" xmlns:q1="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q2="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q3="http://schemas.evosnap.com/CWS/v2.0/Transactions" xmlns:q4="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q5="http://schemas.evosnap.com/CWS/v2.0/Transactions" xmlns:q6="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q7="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q8="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q9="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q10="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q11="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" xmlns:q12="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard/Pro"><xs:import schemaLocation="schemas.evosnap.com.CWS.v2.0.Transactions.Bankcard.xsd" namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard"/><xs:import schemaLocation="schemas.evosnap.com.CWS.v2.0.Transactions.xsd" namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions"/><xs:complexType name="BankcardTransactionResponsePro"><xs:complexContent mixed="false"><xs:extension base="q1:BankcardTransactionResponse"><xs:sequence><xs:element minOccurs="0" name="AdviceResponse" type="q1:AdviceResponse"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Specifies reason for issuer decline of recurring payment transactions. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="CommercialCardResponse" type="q1:CommercialCardResponse"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Indicates the status of the card with respect to its ability to utilize purchase card data. When the card is a Business, Corporate, or Purchase card, providing purchase card data can result in improved interchange rates. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ReturnedACI" nillable="true" type="xs:string"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Provides information concerning the status of a transaction's CPS qualification. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="BankcardTransactionResponsePro" nillable="true" type="tns:BankcardTransactionResponsePro"/><xs:complexType name="BankcardTenderDataPro"><xs:complexContent mixed="false"><xs:extension base="q2:BankcardTenderData"><xs:sequence><xs:element minOccurs="0" name="EMVData" nillable="true" type="q3:EMVData"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            EMV data.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="BankcardTenderDataPro" nillable="true" type="tns:BankcardTenderDataPro"/><xs:complexType name="BankcardTransactionDataPro"><xs:complexContent mixed="false"><xs:extension base="q4:BankcardTransactionData"><xs:sequence><xs:element minOccurs="0" name="ManagedBilling" nillable="true" type="q4:ManagedBilling"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Configuration to setup and perform an automated recurring payment on the behalf of the merchant. Conditional, optional if ManagedBilling (ServiceInformation) = 'true', otherwise not present.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="Level2Data" nillable="true" type="q4:Level2Data"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Aggregate of elements specific to Level 2/Purchase Card transactions. Conditional, required when LineItemDetails are provided, otherwise optional if Service Information indicates PurchaseCardLevel (ServiceInformation) = 'Level2' or 'Level3'.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="LineItemDetails" nillable="true" type="q4:ArrayOfLineItemDetail"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Collection of transaction line item details. Conditional, optional if Service Information indicates PurchaseCardLevel (ServiceInformation) = 'Level3'.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="PINlessDebitData" nillable="true" type="q5:PINlessDebitData"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Collection of transaction details related to PINless Debit cards. Conditional, optional when processing a recurring or installment MOTO or Ecommerce transaction with a PIN Debit card without entering a PIN.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="IIASData" nillable="true" type="q4:IIASData"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Inventory Information Approval System (IIAS) data including amounts for FSA eligible items.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="BankcardTransactionDataPro" nillable="true" type="tns:BankcardTransactionDataPro"/><xs:complexType name="BankcardTransactionPro"><xs:complexContent mixed="false"><xs:extension base="q6:BankcardTransaction"><xs:sequence><xs:element minOccurs="0" name="InterchangeData" nillable="true" type="tns:BankcardInterchangeData"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Details about a transaction that may lower interchange rates for the transaction. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="BankcardTransactionPro" nillable="true" type="tns:BankcardTransactionPro"/><xs:complexType name="BankcardInterchangeData"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Details about a transaction that may lower interchange rates for the transaction. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation><xs:sequence><xs:element minOccurs="0" name="BillPayment" type="q7:BillPayment"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Indicates that the transaction is one in a set of recurring or installment transactions. Conditional, required for recurring or installment transactions.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="RequestCommercialCard" type="q8:RequestCommercialCard"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Request commercial card status for the transaction. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ExistingDebt" type="q9:ExistingDebt"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Indicates recurring or installment transaction is on existing debt. Conditional, required if BillPayment is set.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="RequestACI" type="q10:RequestACI"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Authorization Characteristics Indicator. Identifies the request as potentially qualifying for the Visa CPS or MasterCard Merit programs. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="TotalNumberOfInstallments" type="xs:int"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Number of installments in the series. Conditional, required for installment transactions.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="CurrentInstallmentNumber" type="xs:int"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Number of installment represented by this transaction. Conditional, required for installment transactions.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="RequestAdvice" type="q11:RequestAdvice"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Indicates whether to include advice on declined recurring payment transactions. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="InstallmentDetails" nillable="true" type="q12:InstallmentDetails"><xs:annotation><xs:appinfo/><xs:documentation>&lt;summary&gt;
            Details for an installment plan. Optional.
            &lt;/summary&gt;</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:complexType><xs:element name="BankcardInterchangeData" nillable="true" type="tns:BankcardInterchangeData"/></xs:schema>