source/SampleCode_DeskTop/Service References/CwsTransactionProcessing/Pro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard/Pro" elementFormDefault="qualified" targetNamespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard/Pro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" />
  <xs:import namespace="http://schemas.evosnap.com/CWS/v2.0/Transactions" />
  <xs:complexType name="BankcardTransactionDataPro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q1:BankcardTransactionData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ManagedBilling" nillable="true" type="q1:ManagedBilling" />
          <xs:element minOccurs="0" name="Level2Data" nillable="true" type="q1:Level2Data" />
          <xs:element minOccurs="0" name="LineItemDetails" nillable="true" type="q1:ArrayOfLineItemDetail" />
          <xs:element xmlns:q2="http://schemas.evosnap.com/CWS/v2.0/Transactions" minOccurs="0" name="PINlessDebitData" nillable="true" type="q2:PINlessDebitData" />
          <xs:element minOccurs="0" name="IIASData" nillable="true" type="q1:IIASData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardTransactionDataPro" nillable="true" type="tns:BankcardTransactionDataPro" />
  <xs:complexType name="BankcardTransactionPro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q3:BankcardTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="InterchangeData" nillable="true" type="tns:BankcardInterchangeData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardTransactionPro" nillable="true" type="tns:BankcardTransactionPro" />
  <xs:complexType name="BankcardInterchangeData">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="BillPayment" type="q4:BillPayment" />
      <xs:element xmlns:q5="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="RequestCommercialCard" type="q5:RequestCommercialCard" />
      <xs:element xmlns:q6="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="ExistingDebt" type="q6:ExistingDebt" />
      <xs:element xmlns:q7="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="RequestACI" type="q7:RequestACI" />
      <xs:element minOccurs="0" name="TotalNumberOfInstallments" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentInstallmentNumber" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" minOccurs="0" name="RequestAdvice" type="q8:RequestAdvice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankcardInterchangeData" nillable="true" type="tns:BankcardInterchangeData" />
  <xs:complexType name="BankcardTransactionResponsePro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q9:BankcardTransactionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdviceResponse" type="q9:AdviceResponse" />
          <xs:element minOccurs="0" name="CommercialCardResponse" type="q9:CommercialCardResponse" />
          <xs:element minOccurs="0" name="ReturnedACI" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardTransactionResponsePro" nillable="true" type="tns:BankcardTransactionResponsePro" />
  <xs:complexType name="BankcardReturnPro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q10:BankcardReturn">
        <xs:sequence>
          <xs:element minOccurs="0" name="LineItemDetails" nillable="true" type="q10:ArrayOfLineItemDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardReturnPro" nillable="true" type="tns:BankcardReturnPro" />
  <xs:complexType name="BankcardCapturePro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q11:BankcardCapture">
        <xs:sequence>
          <xs:element minOccurs="0" name="MultiplePartialCapture" type="xs:boolean" />
          <xs:element minOccurs="0" name="Level2Data" nillable="true" type="q11:Level2Data" />
          <xs:element minOccurs="0" name="LineItemDetails" nillable="true" type="q11:ArrayOfLineItemDetail" />
          <xs:element xmlns:q12="http://schemas.evosnap.com/CWS/v2.0/Transactions" minOccurs="0" name="ShippingData" nillable="true" type="q12:CustomerInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardCapturePro" nillable="true" type="tns:BankcardCapturePro" />
  <xs:complexType name="BankcardCaptureResponsePro">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.evosnap.com/CWS/v2.0/Transactions/Bankcard" base="q13:BankcardCaptureResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankcardCaptureResponsePro" nillable="true" type="tns:BankcardCaptureResponsePro" />
</xs:schema>